{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if user.is_authenticated%}
    {% if voted_choice == None%}
        Welcome, {{ user.username }}.
    {%else%}
        Welcome back, {{ user.username }}.
    {% endif %}
{% else %}
   Please, <a href="{% url 'login' %}?next={{request.path}}">login </a> to vote.
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>{{ question.question_text }}</h2></legend>
    {% if messages %}
    <ul class="error_messages">
      {% for msg in messages %}
        <p class="{{msg.tags}}">{{ msg }}</p>
      {% endfor %}
    </ul>
    {% endif %}
    {% for choice in question.choice_set.all %}
        {% if voted_choice == choice %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} -->your previous selection</label><br>
        {% else %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endif %}
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>

<a href="{% url 'polls:index' %}">Back to List of Polls</a>